<main class="view-main">
    <div class="view-container">
        <div class="view-title">Invoice #</div>
        <div class="view-name">Mark Benson</div>
        <div class="view-products">
            <ul class="view-products__list">
                <li class="view-products__item view-products__item_flex">
                    <div class="view-products__name">Products</div>
                </li>
                <li class="view-products__item">
                    <div class="view-products__name">Qty</div>
                </li>
                <li class="view-products__item">
                    <div class="view-products__name">Price</div>
                </li>
            </ul>
            <div class="view-discount">
                <div class="view-discount__title">Discount %</div>
                <div class="view-discount__percent"></div>
            </div>
        </div>
        <div class="view-string"></div>
        <div class="view-total">
            <div class="view-total__title">TOTAL</div>
            <div class="view-total__amount"></div>
        </div>
    </div>
</main>