<main class="view-main">
  <div class="view-container">
    <div class="view-title"> Invoice #{{ (viewInvoice$ | async)?.id}}</div>
    <div class="view-name" routerLink="/customers">{{ (viewInvoice$ | async)?.customer.name }}</div>
    <div class="view-products">
      <mat-table [dataSource]='(viewInvoice$ | async)?.items'>
        <ng-container matColumnDef="number">
          <mat-header-cell class="numbers" *matHeaderCellDef>Number</mat-header-cell>
          <mat-cell class="numbers" *matCellDef="let item; let rowIndex = index">{{rowIndex + 1}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="product_name">
          <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
          <mat-cell *matCellDef="let item">{{item?.product.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <mat-header-cell class="view-products__flex-change" *matHeaderCellDef>Qty</mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item?.quantity}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell class="view-products__flex-change" *matHeaderCellDef>Price</mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item?.product.price | currency}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"></mat-row>
      </mat-table>
      <div class="view-discount">
        <div class="view-discount__title">Discount %</div>
        <div class="view-discount__percent">{{ (viewInvoice$ | async)?.discount }}</div>
      </div>
    </div>
    <div class="view-string"></div>
    <div class="view-total">
      <div class="view-total__title">TOTAL</div>
      <div class="view-total__amount">
        {{ (viewInvoice$ | async)?.total | currency }}
      </div>
    </div>
  </div>
</main>