.view {
  &-main {
    padding: 30px 0;
  }
  &-container {
    width: 80%;
    padding: 20px;
    border: 2px solid black;
    margin: 0 auto;
  }
  &-title {
    margin-bottom: 20px;
  }
  &-name {
    display: inline-block;
    width: 50%;
    background-color: #5b91d3;
    text-align: left;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  &-products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    & .mat-table {
      width: 50%;
    }
    & .mat-column-product_name {
      flex: 2;
    }
    &__flex-change {
      flex: 1;
    }
  }
  &-discount {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    &__title {
      background-color: #5b91d3;
      color: #fff;
      padding: 10px 15px;
      margin-bottom: 14px;
    }
    &__percent {
      width: 108px;
      height: 36px;
      font-size: 16px;
      text-align: center;
      padding: 7px 10px;
      border: 1px solid #5b91d3;
    }
  }
  &-string {
    width: 50%;
    border-bottom: 2px solid black;
    margin: 20px 0;
  }
  &-total {
    width: 50%;
    display: flex;
    &__title {
      display: inline-block;
      background-color: #5b91d3;
      color: #fff;
      padding: 10px 47px;
      border: 1px solid black;
      margin-right: 30px;
    }
    &__amount {
      display: inline-block;
      padding: 10px 47px;
      border: 1px solid black;
    }
  }
}

