<main class="customers-main">
  <div class="container">
    <mat-table [dataSource]='customersList$ | async'>

      <ng-container matColumnDef="number">
        <mat-header-cell class="numbers" *matHeaderCellDef>Number</mat-header-cell>
        <mat-cell class="numbers" *matCellDef="let customer; let rowIndex = index">{{ rowIndex + 1 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="customer_name">
        <mat-header-cell *matHeaderCellDef> Customer Name </mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell class="address" *matHeaderCellDef> Address </mat-header-cell>
        <mat-cell class="address" *matCellDef="let customer"> {{customer.address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell class="phone" *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell class="phone" *matCellDef="let customer"> {{customer.phone}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"></mat-row>
    </mat-table>
  </div>
</main>