.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  min-width: 300px;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.numbers {
  max-width: 50px!important;
  text-align: center;
}

.mat {
  &-table {
    margin: 0 auto;
  }
  &-header-row, &-row {
    padding: 0!important;
    text-align: center;
  }
  &-tab-nav-bar .mat-tab-link {
    color: #fff;
  }
}
