<header class="header" fxLayout="row" fxLayoutAlign="center start">
  <div class="header-container" fxLayout="row" fxLayoutAlign="space-between center">
    <a href="" class="header-logo" routerLink="/">Logo</a>
    <nav class="nav">
      <nav mat-tab-nav-bar>
        <a mat-tab-link
           *ngFor="let navItem of navItems"
           [routerLink]="[navItem.path]"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive"
           [routerLinkActiveOptions]="{ exact: true }">
          {{navItem.label}}
        </a>
      </nav>
    </nav>
    <button mat-raised-button>New invoice</button>
  </div>
</header>