<main class="invoices-main">
  <div class="container">
    <mat-table [dataSource]='invoicesList$ | async'>

      <ng-container matColumnDef="number">
        <mat-header-cell class="numbers" *matHeaderCellDef>Number</mat-header-cell>
        <mat-cell class="numbers" *matCellDef="let invoice; let rowIndex = index">{{rowIndex + 1}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> InvoiceID</mat-header-cell>
        <mat-cell *matCellDef="let invoice">{{invoice.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="customer_name">
        <mat-header-cell *matHeaderCellDef> Customer Name</mat-header-cell>
        <mat-cell *matCellDef="let invoice"> {{invoice.customer.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="discount">
        <mat-header-cell *matHeaderCellDef> Discount (%)</mat-header-cell>
        <mat-cell *matCellDef="let invoice"> {{invoice.discount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef> Total</mat-header-cell>
        <mat-cell *matCellDef="let invoice"> {{invoice.total | number: '1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell class="actions" *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell class="actions" *matCellDef="let invoice">
          <button mat-raised-button color="primary"
            (click)="hideInkBar()"
            [routerLink]="['/view-invoice', invoice.id]">
            View
          </button>
          <button mat-raised-button color="accent"
            (click)="hideInkBar()"
            routerLink="/edit-invoice">
            Edit
          </button>
          <button mat-raised-button color="warn" (click)="deleteInvoice(invoice.id)">Delete</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"></mat-row>
    </mat-table>
  </div>
</main>