<main class="create-main">
  <div class="create-container">
    <form [formGroup]="createInvoiceForm">
      <div class="create-title"> Invoice #123</div>

      <div class="create-name">
        <mat-select placeholder="Select Name" formControlName="name">
          <mat-option *ngFor="let customer of customersList$ | async" [value]="customer.name">
            {{ customer.name }}
          </mat-option>
        </mat-select>
      </div>
      <div class="create-products">
        <div class="create-products__info">
          <div class="create-products__column create-products__column_select">
            <div class="create-products__title">Products</div>
            <mat-select class="create-products__select" placeholder="Select Name" formControlName="product">
              <mat-option *ngFor="let product of productsList$ | async" [value]="product.name">
                {{ product.name }}
              </mat-option>
            </mat-select>
          </div>
          <div class="create-products__column">
            <div class="create-products__title">Quantity</div>
            <input class="create-products__input" formControlName="quantity" [value]="0" type="number">
          </div>
          <div class="create-products__column">
            <div class="create-products__title">Price</div>
            <input class="create-products__input" formControlName="price" [value]="0 | currency" type="text">
          </div>
        </div>
        <div class="create-discount">
          <div class="create-discount__title">Discount %</div>
          <input class="create-discount__percent" formControlName="discount" [value]="0" type="number">
        </div>
      </div>

      <div class="create-string"></div>

      <div class="create-total">
        <div class="create-total__title">TOTAL</div>
        <div class="create-total__amount">333

        </div>
      </div>
    </form>
  </div>
</main>