<main class="create-main">
  <div class="create-container">
    <div class="create-title"> Invoice #
      {{
      (invoicesList$ | async) ? (invoicesList$ | async)[(invoicesList$ | async).length -1]?.id + 1 : ''
      }}
    </div>
    <form [formGroup]="createInvoiceForm" (ngSubmit)="onSubmit()">

      <div class="create-name">
        <mat-select placeholder="Select name" formControlName="customer_id">
          <mat-option *ngFor="let customer of customersList$ | async" [value]="customer.id">
            {{ customer.name }}
          </mat-option>
        </mat-select>
      </div>

      <div class="create-wrapper">
        <div class="create-products">
          <div class="create-products__row">
            <div class="create-products__column create-products__column_select">
              <div class="create-products__title">Products</div>
            </div>
            <div class="create-products__column">
              <div class="create-products__title">Quantity</div>
            </div>
            <div class="create-products__column">
              <div class="create-products__title">Price</div>
            </div>
          </div>
          <div class="" formArrayName="items">
            <ng-container *ngFor="let itemsGroup of createInvoiceItemsArray.controls; let i = index">
              <app-invoice-items-group
              [itemsGroup]="itemsGroup"
              [groupIndex]="i"
              (addItemsGroup)="addItemsGroup()"
              >
              </app-invoice-items-group>
            </ng-container>
          </div>
          <button class="create-products__button create-products__button_add"
            mat-raised-button
            (click)="addItemsGroup()"
          >+
          </button>
        </div>

        <div class="create-discount">
          <div class="create-discount__title">Discount %</div>
          <input class="create-discount__percent" appOnlyNumbers formControlName="discount" type="text">
        </div>
      </div>

      <div class="create-string"></div>

      <div class="create-total">
        <div class="create-total__title">TOTAL</div>
        <div class="create-total__amount">{{createInvoiceTotalControl.value || 0 | currency}}</div>
      </div>
      <button class="create-submit" type="submit" [disabled]="createInvoiceForm.invalid">Save</button>
    </form>
  </div>
</main>